    </main>

    <footer class="site-footer">
      <img src="/img/csumb_logo.png" alt="CSUMB Logo" class="footer-logo">

      <p>
        &copy; <%= new Date().getFullYear() %> Sydney Stalker —
        CST 336, Lab 6
      </p>
    </footer>
  </body>
</html>
