<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Famous Quotes - Admin</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header class="site-header">
      <h1>Famous Quotes - Admin Section</h1>
      <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/author/new">Add Author</a>
        <a href="/authors">List Authors</a>
        <a href="/quote/new">Add Quote</a>
        <a href="/quotes">List Quotes</a>
      </nav>
    </header>

    <main class="page-wrap">
